@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="text-center">
        <br />
        <h3 class="display-4">Examen T3</h3><hr /><br />
        <h1> CALIDAD</h1>
 

        <br />
        <br />
        <div class="row">
            <div class="col-md-5 mx-4">
                <a href="/Nota/index" class="btn btn-primary">ver notas</a>
            </div>
            <div class="col-md-5 mx-4">
                <a href="/Nota/addNota" class="btn btn-primary">Agregar nota</a>
            </div>
        </div>


    </div>

</body>