
@model List<ExamenT3.Models.Notas>

<br />

<h1 class="nota">NOTAS</h1>

<a href="/Nota/Create" class="btn btn-primary">Crear</a>

<br />
<div class="container">
    @foreach (var item in Model)
    {
        <div class="container">

            <h4>Titulo: </h4>@item.Titulo
            <br />
            <h2>Contenido: </h2>@item.Contenido
            <br />
            <br />

        </div>
        <br />
    }
    <br />
</div>
